/* Layout */
:root {
    --footer-height: 50px;
    --ribbon-width: 44px;
    --header-height: 40px;
    --divider-width: 1px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

/* Grid layouts */
body {
    display: grid;
    height: 100vh;
    grid-template-columns: min-content 1fr;
}

/* Flex layouts */
header {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    gap: 8px;
    height: var(--header-height);
    padding: 4px 8px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--footer-height);
}

.book-grid {
    flex-basis: calc(100vw - var(--ribbon-width));
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: stretch;
    align-content: flex-start;
    padding: 8px;
    margin-top: 40px;
}

.book-grid-item {
    align-self: start;
    margin: 8px 8px;
}

.ribbon-menu {
    display: flex;
    gap: 4px;
    flex: 0 0 44px;
    flex-direction: column;
    padding: 8px 4px 12px;
    width: var(--ribbon-width);
    z-index: 200;
}

.ribbon-top-icons,
.ribbon-bottom-icons {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ribbon-bottom-icons {
    margin-top: auto;
}

.clickable-icon {
    margin: 0 auto;
    display: flex;
}

#reader {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-height: 100vh;
}

#view {
    height: 100vh; /* or some other value */
    overflow: auto;
    text-align: center;
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    bottom: 0;
    transform: translateX(-50%);
    position: fixed;
    background-color: var(--color-base-00);
}

.sentinel {
    padding: 50px;
    overflow: visible;
    /*    background-color: red;*/
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.content {
    padding: 50px;
    overflow: visible;
    /*    background-color: blue;*/
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.search-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 3px;
    padding-bottom: 10px;
    background-color: var(--color-base-00);
    z-index: 100;
}

.search-bar input[type=text] {
    display: inline-block;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    margin-left: 16px;
    font-size: 17px;
    border-radius: 20px;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



/* make sure everything is within the window */
* {
    max-width: 100%;
}
