body {
    font-family: -apple-system, 'Segoe UI Light', Ubuntu, Arial, sans-serif;
    background-color: #6c6d68;
    color: #dde0d6;
}

#document-title {
    color: #dde0d6;
    text-align: center;
    font-weight: 400;
}

#text {
    background-color: #858681;
    color: #fcfff4;
}